@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine.ttf');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono.ttf');
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight.ttf');
}
